<!DOCTYPE html>

<head>
    <title>Salary Predictor</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <style>
        .form-control-borderless {
            border: none;
        }

        .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    </style>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" action="" >
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" id="search-txt" name="experience" type="search" placeholder="Enter year of experience">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" id="search-btn" type="submit">Predict Salary</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <ul class="list-group" id="result">
                  <!--  {{ ans }} -->
                </ul>
            </div>
        </div>
    </div>
    
    <script>
    $("#search-btn").click(function() {
        $('#search-btn').prop('disabled', true);

        var stext = $('#search-txt').val();

        $.ajax({
            type: "GET",
            url: `/predict/${stext}`,
            data: { search: stext },
            success: function(data) {
                $('#result').empty();
                var res = JSON.parse(data);
                
                $('#result').append(`<p>Predicted Salary: Rs ${res.toFixed(2)}<p>`);
                
                $('#search-btn').prop('disabled', false);
            }
        });
    });
    </script>

</body>